html, body, input, button {
    font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue", 
    sans-serif;
    font-size: 18px;
  }

  button {
    -webkit-appearance: button;
    -moz-appearance: button;
  }

  .todo__container {
    display: flex;
    margin: 0 -10px;
  }

  .todo__container > * {
    flex: 1;
    margin: 10px;
  }
  
  .todo__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .todo__item {
    border-bottom: solid 1px #eee;
    display: flex;
    padding: .5em .25em;
  }
  
  .todo__item:hover {
    background: #f7f7f7;
    cursor: pointer;
  }

  .todo__item > span,
  .todo__item > strike {
    flex: 1;
    margin-right: 1em;
  }
  
  .todo__entry {
    background: #f3f3f3;
    border: solid 1px #ccc;
    border-radius: .2em;
    box-sizing: border-box;
    padding: .25em .5em;
    width: 100%;
  }
  
  .todo__button {
    border: 0;
    border-radius: .2em;
    background-color: #71B7FF;  
    color: #fff;
    cursor: pointer;
    flex: 0;
    line-height:1.4;
    padding: .25em .5em;
    text-align: center;
    white-space: nowrap;
  }
  
  .todo__button:hover {
    background: #B2D8FF;
  }

  .todo__button--danger {
    background-color: #c9302c;
  }
  
  .todo__button--danger:hover{
    background-color: #d9534f;
  }  